@import "../utils/variables";

.user-section {
  margin: 68px 90px 0 107px;
  flex-grow: 1;

  &__header {
    margin-bottom: 77px;

    &__name {
      color: #000;
      font-size: 48px;
      margin-bottom: 41px;

      &--color {
        color: $primary-color;
      }
    }

    &__content {
      font-size: 18px;
      font-weight: 400;
    }
  }

  &__content {
    display: flex;
    gap: 31px;

    &__graphs {
      width: 75%;

      &__bottom {
        display: flex;
        gap: 30px;
      }
    }
  }
}