.lateral {
  background-color: #020203;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 117px;
  width: 15%;
  padding-bottom: 59px;

  &__icons {
    height: 62%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
  }

  &__text {
    -webkit-writing-mode: vertical-lr;
    writing-mode: sideways-rl;
    transform: rotate(180deg);
    color: #fff;
    font-size: 1.2rem;
    height: 38%;
  }
}