@import "../utils/variables";

.card {
  background-color: $background-color;
  border-radius: 5px;
  width: 100%;
  max-width: 250px;
  max-height: 124px;

  &__figure {
    display: flex;
    align-items: center;
    gap: 10%;
    padding: 10%;

    &__img {
      width: 60px;
      height: 60px;
    }

    &__caption {
      &__amount {
        color: #282D30;
        font-size: 1.5rem;
        font-weight: $font-weight-bold;
      }

      &__type {
        color: #74798C;
        font-size: 1rem;
      }
    }
  }
}