@import "../utils/variables";

.card {
  background-color: $background-color;
  border-radius: 5px;
  padding: 8% 20% 8% 8%;
  max-width: 258px;

  &__figure {
    display: flex;
    align-items: center;
    gap: 15%;

    &__img {
      width: 60px;
      height: 60px;
    }

    &__caption {
      &__amount {
        color: #282D30;
        font-size: 2rem;
        font-weight: $font-weight-bold;
      }

      &__type {
        color: #74798C;
        font-size: 1.4rem;
      }
    }
  }
}