.average-session-graph {
  background-color: #FF0000;
  border-radius: 5px;
  display: flex;
  flex-grow: 1;
  align-items: end;
  justify-content: center;
  max-width: 258px;

  &__custom-tooltip {
    background-color: #fff;
    padding: 5px;
  }
}