.average-session-graph {
  background-color: #FF0000;
  border-radius: 5px;
  display: flex;
  align-items: end;
  justify-content: center;
  width: 32%;

  &__custom-tooltip {
    background-color: #fff;
    padding: 5px;
  }
}