.average-session-graph {
  background-color: #FF0000;
  border-radius: 5px;
  padding: 20px 10px;
  width: 258px;
  height: 263px;

  &__title {
    color: #fff;
    opacity: .5;
    font-size: 15px;
    line-height: 24px;
  }
}