@import "../utils/variables";

.score-graph {
  background-color: #FBFBFB;
  width: 32%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 12px;
    margin-left: 20px;
    align-self: start;
  }
}