@import "../utils/variables";

.performance-graph {
  background-color: $tertiary-color;
  border-radius: 5px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  max-width: 258px;
}